* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* colors */

:root {
    --accent-color: #F5953D;
    --title-color: #111111;
    --body-color: #333333;
    --secondary-on-white-color: #7B7A83;
    --secondary-on-dark-color: #ABAAB0;
    --icons-on-dark-color: #7B7A89;
}

/* typography */

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--secondary-on-dark-color);
}

p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--secondary-on-dark-color);
}

.paragraph-accent {
    color: #fff;
    font-style: normal;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -0.01em;   
}

h2 {
    color: var(--title-color);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: var(--title-color);
}

.btn {
    width: 183px;
    height: 48px;
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 4px;
}

button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF; 
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
}

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/roboto/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('assets/fonts/roboto/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/roboto/roboto-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  

/* nav */

.nav-container {
    margin: 0 auto;
    background: #111111;
    height: 80px;
}

nav {
    margin: auto 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav ul {
    display: flex;
    min-width: 363px;
}

.nav-items li {
    padding: 0 0 0 32px;
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #ABAAB0;
}

nav .logo {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
}

nav .logo .logo-accent {
    color: #F5953D;
    font-style: normal;
}


/*header*/

header {
    background-color: var(--title-color);
    color: white;
    width: 100%;
    height: calc(100vh + 50px);
    display: flex;
    align-items:center;
    margin: -130px 0;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;    
}

.hero-container {
    display: flex;
    height: 344px;
    flex-direction: column;
    flex-basis: 0;
    justify-content: space-between;
}

.hero-image {
    height: 557px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.col-xl-12 {
    width: calc(100% - 40px);
    margin: 0 20px;
}

.col-xl-6 {
    width: calc(50% - 40px);
    margin: 0 20px;
}

.col-xl-5 {
    width: calc((5 / 12 * 100%)  - 40px);
    margin: 0 20px;
}

.col-xl-4 {
    width: calc((4 / 12 * 100%)  - 40px);
    margin: 0 20px;
}


.col-xl-3 {
    width: calc((3 / 12 * 100%)  - 40px);
    margin: 0 20px;
}

.col-xl-2 {
    width: calc((2 / 12 * 100%)  - 40px);
    margin: 0 20px;
}

.col-xl-1 {
    width: calc((1 / 12 * 100%)  - 40px);
    margin: 0 20px;
}


.about{
    margin: 263px auto 0 auto;
    height:523px;
}

.container-about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.center {
    margin: 0 auto;
}


.prices {
    height: 947px;
    margin-top: 138px;
}

.prices > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    width: 203px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description > h3 {
    height: 36px;
}

.icon-about {
    width: 70px;
}

.about-cards {
    align-items: flex-start;
}

.card {
    height: 407px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28.5px;
    border-radius: 8px;
    border: 2px solid #FDE7D3;
}

.card-img {
    width: 228px;
    height: 139px;
}

.price {
    color: var(--title-color);
}

.attention {
    background-color: var(--title-color);
    margin-top: 90px;
    height: 150px;
    display: flex;
}

.attention > .container {
    margin-top: auto;
    margin-bottom: auto;
}

.attention-icon {
    width: 78px;
    height: 78px;
}

.attention-text {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.attention-text > h3 {
    color: var(--secondary-on-dark-color);
    margin: 0 0 0 20.8px;
}

.attention > .container > .row > .col-xl-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery{
    margin-top: 90px;
}

.gallery > .container {
    height: 604px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-img {
    width: 100%;
    border: 4px solid var(--accent-color);
}

.contacts {
    color: #fff;
    background-color: var(--title-color);
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.info {
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.city {
    max-width: 391px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.info-map {
    max-height: 450px;

    display: flex;
    align-items: flex-start;
}

.info > h2, h3 {
    color: #fff;
}

.city {
    width: 100%;
    display: flex;
}


.footer {
    background-color: var(--title-color);
    height: 100px;
    display: flex;
    align-items: center;
}

.created-by {
    color: #fff;
    width: 229px;
    height: 22px;
    margin: auto;
}

.created-by > a {
    color: var(--accent-color);
}